<div id="form">
  <h2 class="form-title">Log in</h2>
  <%= form_tag("/login") do %>
    <p>メールアドレス</p>
    <p class="mail"><input name="email" type="email" value="<%= @email %>"></p>
    <p>パスワード</p>
    <p class="pass"><input type="password" name="password" value="<%= @password %>"></p>
    <p class="submit"><input type="submit" value="Log in"></p>
  <% end %>
</div>
